
.headerMenu {
  padding: 8px 0;
  background-color:#fff;
  box-sizing: inherit;
  border-bottom: 1px solid #e6e6e6;
}

.container {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  height: 100%;  
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.basketIcon {
  fill:gray;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #455a64;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksContainer a {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin-right: 40px;
  color: #292f32;
  text-decoration: none;
  border-bottom: 1px solid gray;
  transition: 0.4s;
  white-space: nowrap;
}
.linksContainer a:hover {
  color: red;
  border-bottom: none;
}

.activeLink {
  color: red !important;
  border-bottom: none !important;
}

@media(min-width: 768px) and (max-width: 992px) {
  .container {
    font-size: 14px;
  }
}
@media(min-width: 580px) and (max-width: 768px) {
  .linksContainer a {
    margin-right: 15px;
    font-size: 14px;
  }
 
}
@media(min-width: 375px) and (max-width: 580px) {
  .linksContainer {
    flex-wrap: wrap;
    justify-content: normal;
  }

  .linksContainer a {
    margin-right: 15px;
    font-size: 14px;

  }
}
@media(max-width: 375px) {
  .linksContainer {
    flex-wrap: wrap;
    justify-content: normal;
  }

  .linksContainer a {
    margin-right: 15px;
    font-size: 14px;

  }
}

