.container {
  max-width: 1098px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}


.img {
  transition: all 1s;
}

.img0 {
  width: -webkit-fill-available;
  transform: translateX(0);
}

.img1 {
  width: -webkit-fill-available;
  transform: translateX(-100%);
}

.img2 {
  width: -webkit-fill-available;
  transform: translateX(-200%);
}

.button {
  transition: 0.4s;
  position: absolute;
  top: 40%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #131212bd;
  padding: 10px;
}
.button:hover {
  background-color: #131212ed;
  cursor: pointer;
}
.button:disabled{
  background-color: #9e9e9e87;
  cursor: default;
}
.leftButton {
  left: 5px;
}
.rightButton {
  right: 5px;
}
